
<h1>Add New Page</h1>

<div>
	<form method="post" action="/create">
		<fieldset>
			<label for="title">Title:</label>
			<input type="text" name="title" id="title">
		</fieldset>
		<fieldset>
			<label for="content">Content:</label>
			<textarea rows="10" columns="50" name="content" id="content"></textarea>
		</fieldset>
		<input type="submit">
	</form>
</div>

<p><a href="/">Back to HomePage</a></p>
