
<h1><%= @title %></h1>
<div>
	<p><%= @content %></p>	
</div>

<div>
	<a href="/<%= @title %>/edit">Edit This Page</a>

	<form method="post" action="/<%= @title %>">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete This Page">
	</form>
</div>
